Repository openstack/tap-as-a-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pylint

flake8:
  name: flake8
  additional_dependencies:
  - hacking>=6.1.0,<6.2.0
  - neutron-lib
  language: python
  entry: flake8

pylint:
  name: pylint
  entry: .tox/pep8/bin/pylint
  language: system
  args:
  - --rcfile=.pylintrc
  - --output-format=colorized

tox: Remove basepython and ineffective ignore_basepython_conflict
  tox.ini
Due: none

Update .gitreview for stable/2025.2
  .gitreview
Due: none

Update TOX_CONSTRAINTS_FILE for stable/2025.2
  tox.ini
Due: none

Update master for stable/2025.2
  releasenotes/source/2025.2.rst
  releasenotes/source/index.rst
Due: none

Remove client code from repository
  neutron_taas/taas_client/__init__.py
  neutron_taas/taas_client/osc/__init__.py
  neutron_taas/taas_client/osc/tap_flow.py
  neutron_taas/taas_client/osc/tap_mirror.py
  neutron_taas/taas_client/osc/tap_service.py
  neutron_taas/tests/unit/taas_client/__init__.py
  neutron_taas/tests/unit/taas_client/osc/__init__.py
  neutron_taas/tests/unit/taas_client/osc/fakes.py
  neutron_taas/tests/unit/taas_client/osc/test_osc_tap_flow.py
  neutron_taas/tests/unit/taas_client/osc/test_osc_tap_mirror.py
  neutron_taas/tests/unit/taas_client/osc/test_osc_tap_service.py
  setup.cfg
Due: flake8, pylint

Drop redundant flake8 execution from pre-commit
  .pre-commit-config.yaml
Due: none

Fix failing bandit target
  .pre-commit-config.yaml
  pyproject.toml
  tox.ini
Due: none

Remove no longer needed osc cli dependencies
  requirements.txt
Due: none

tox: Fix outdated default envlist
  tox.ini
Due: none

Update .gitreview for unmaintained/2024.1
  .gitreview
Due: none

reno: Update master for unmaintained/2024.1
  releasenotes/source/2024.1.rst
Due: none

Use correct package name for requests-mock
  test-requirements.txt
Due: none

Fix issue with py313 unit test threads
  neutron_taas/services/taas/service_drivers/ovn/helper.py
  neutron_taas/tests/unit/services/ovn/test_helper.py
  neutron_taas/tests/unit/services/ovn/test_taas_ovn.py
Due: flake8, pylint

Migrate setup configuration to pyproject.toml
  bin/i40e_sysfs_command
  neutron_taas/cmd/__init__.py
  neutron_taas/cmd/i40e_sysfs_cmd.py
  pyproject.toml
  setup.cfg
  test-requirements.txt
Due: flake8, pylint

[OVN] Add BOTH direction to tap mirror
  neutron_taas/extensions/tap_mirror_both_direction.py
  neutron_taas/services/taas/service_drivers/ovn/taas_ovn.py
  neutron_taas/services/taas/tap_mirror_plugin.py
  neutron_taas/tests/unit/services/ovn/test_taas_ovn.py
Due: flake8, pylint

Fix duplicated checks to enforce usage of assertIs(Not)None
  tox.ini
Due: none

Update zuul jobs and gates definitions
  .zuul.yaml
Due: none

Migrate upper functional job to Python 3.13
  .zuul.yaml
Due: none

Remove `neutron-tempest-plugin-tap-as-a-service-wsgi` definition
  .zuul.yaml
Due: none

Remove unused and unmaintained script
  devstack/devstackgaterc
Due: none

Taas OVN driver should raise instead of LOG not implemented
  neutron_taas/services/taas/service_drivers/ovn/taas_ovn.py
  neutron_taas/services/taas/taas_plugin.py
Due: flake8, pylint

tox: Drop redundant injection of VIRTUAL_ENV variable
  tox.ini
Due: none

Filter service providers configuration by the service name
  neutron_taas/services/taas/taas_plugin.py
  neutron_taas/services/taas/tap_mirror_plugin.py
Due: flake8, pylint

Fix issues related to pkg_resources module
  doc/requirements.txt
  test-requirements.txt
  tox.ini
Due: none

Filter service providers configuration by the service name
  neutron_taas/services/taas/taas_plugin.py
Due: flake8, pylint

Cap tox to < 4.48.0
  tox.ini
Due: none

Update .gitreview for stable/2026.1
  .gitreview
Due: none

Update TOX_CONSTRAINTS_FILE for stable/2026.1
  tox.ini
Due: none

Update master for stable/2026.1
  releasenotes/source/2026.1.rst
  releasenotes/source/index.rst
Due: none

Change the signature of ``lsp_detach_mirror``
  neutron_taas/services/taas/service_drivers/ovn/helper.py
Due: flake8, pylint

Replace deprecated openstackdocstheme options
  doc/source/conf.py
Due: pylint

Fix periodic_tasks signature in TaasAgentRpcCallback
  neutron_taas/services/taas/agents/common/taas_agent.py
  neutron_taas/tests/unit/services/taas/agents/__init__.py
  neutron_taas/tests/unit/services/taas/agents/test_taas_agent.py
Due: flake8, pylint

Reqs: Add dependent libs to requirements.txt
  requirements.txt
Due: none

Periodic: remove py310 job
  .zuul.yaml
Due: none

Use policy check strings from neutron-lib
  neutron_taas/policies/tap_flow.py
  neutron_taas/policies/tap_mirror.py
  neutron_taas/policies/tap_service.py
  requirements.txt
Due: flake8, pylint

Enable hacking plugins from neutron-lib
  tox.ini
Due: none

Bump hacking
  .pre-commit-config.yaml
  test-requirements.txt
Due: none

tox: Fix incomplete [flake8] enable-extensions
  tox.ini
Due: none

Path conditions:
  flake8: any of: ^.*\.py$, but not: ^(doc|releasenotes|tools)/.*$
  pylint: any of: ^.*\.py$ and \.py$
